numpy
scipy
pandas
matplotlib
altair
metaflow
tqdm
filelock
typer
sh
pandas-profiling
ipywidgets
sklearn
umap-learn
statsmodels
altair-saver
webdriver_manager
networkx
python-louvain
selenium==4.2.0
toolz
